version: "3.4"
services:
  backend:
    build:
      dockerfile: rust.dev.Dockerfile
    depends_on:
      - mailcrab
    volumes:
      - "./cryptify-back-end/:/app"
      - "./conf/config.dev.toml/:/app/config.toml:ro"
    working_dir: /app
    environment:
      ROCKET_ENV: development
      ROCKET_CONFIG: "config.toml"
    command: "bash -c 'mkdir -p /tmp/data && cargo watch -x run'"

  frontend:
    image: node:17
    stdin_open: true
    volumes:
      - "./cryptify-front-end/:/app"
    working_dir: /app
    environment:
      NODE_OPTIONS: "--openssl-legacy-provider"
    command: "npm run start"

  nginx:
    image: nginx:1.18
    depends_on:
      - frontend
      - backend
    volumes:
      - "./cryptify-front-end/build:/var/www/html/:ro"
      - "./conf/nginx.dev.conf:/etc/nginx/nginx.conf:ro"
    ports:
      - "8080:80"
      - "8088:80"

  mailcrab:
    image: marlonb/mailcrab:latest
    ports:
      - "1080:1080"
      - "1025:1025"
    networks: [default]
