[Unit]
Description=Cryptify backend server
Documentation=https://cryptify.nl
After=network.target

[Service]
Environment=STORAGE_DIR=../../data
Environment=EMAIL_SMTP_URL=smtp://******:*******@mail.cryptify.nl:25
Environment=EMAIL_FROM=noreply@cryptify.nl
Type=simple
User=cryptify
ExecStart=/usr/bin/node /home/cryptify/htdocs/backend/index.js
Restart=on-failure

[Install]0
WantedBy=multi-user.target