/* karla-regular - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./resources/fonts/karla-regular.woff") format("woff");
}
/* karla-italic - latin */
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 400;
  src: url("./resources/fonts/karla-italic.woff") format("woff");
}
/* karla-700 - latin */
@font-face {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("./resources/fonts/karla-bold.woff") format("woff");
}
/* karla-700italic - latin */
@font-face {
  font-family: "Karla";
  font-style: italic;
  font-weight: 700;
  src: url("./resources/fonts/karla-bold-italic.woff") format("woff");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --cryptify-bg-color: #e7f0f5;
  --cryptify-bg-highlight-color: #aedcf5;
  --cryptify-button-color: #080249;
  --cryptify-header-color: #080249;
  --cryptify-header-text-color: #ffffff;
}

:root,
body,
#root,
.App,
.info-panel {
  min-height: 100vh;
}

.App {
  font-size: 10pt;
  font-family: "karla";
  width: 100%;
}

.cookie-text {
  color: #c93c58;
  font-size: 1.5em;
  line-height: 1.3em;
}

.content-panel {
  width: 29.6em;
  float: left;
  margin-left: 2.6em;
  margin-right: 2.6em;
  min-height: 100vh;
  position: relative;
}

@media only screen and (max-width: 1170px) {
  .content-panel {
    float: none !important;
    width: calc(100% - 5.3em);
  }
}

@media only screen and (max-width: 500px) {
  .content-panel {
    margin-left: 1.6em;
    width: calc(100% - 3.3em);
  }
}

.content-panel .App-header {
  padding-top: 2.6em;
  display: block;
  margin: auto;
  width: 10.6em;
}

@media only screen and (max-width: 500px) {
  .content-panel .App-header {
    padding-top: 1.3em;
    width: 8.3em;
  }
}

.content-panel .crypt-panel-header {
  padding-top: 2.6em;
  display: table;
  margin-bottom: 0.25em;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .content-panel .crypt-panel-header {
    padding-top: 1.3em;
  }
}

.content-panel .crypt-panel-header .crypt-panel-header-text {
  display: inline;
  text-align: center;
  width: 100%;
  display: table-cell;
  font-size: 1.6em;
}

@media only screen and (max-width: 500px) {
  .content-panel .crypt-panel-header .crypt-panel-header-text {
    font-size: 16pt !important;
  }
}

.content-panel .crypt-panel-header .crypt-panel-header-text {
  border-bottom: solid 3pt #00a2d5;
  font-weight: bold;
  color: black;
}

.crypt-select-protection-input-box {
  border-radius: 0.7em;
  border: 0pt;
  background-color: white;
  margin-bottom: 2.4em;
}

@media only screen and (max-width: 500px) {
  .crypt-select-protection-input-box {
    margin-bottom: 1.25em;
  }
}

.crypt-select-protection-input-box:last-child {
  margin-bottom: 0em;
}

.crypt-container {
  margin-top: 9.1em;
}

@media only screen and (max-width: 500px) {
  .crypt-container {
    margin-top: 0.8em;
  }
}

.crypt-select-protection-input-box h4 {
  margin-left: 0.4em;
  text-align: left;
  color: #424242;
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 0;
}

.crypt-select-protection-input-box input[type="text"] {
  font-size: 1.1em;
  border: 0;
  box-shadow: 0pt 1pt 0pt 0pt #ebebeb, 0px 1pt 0pt 0pt #ebebeb;
  width: 100%;
}

.crypt-select-protection-input-box input[type="text"]:focus {
  outline: none;
}

.crypt-btn {
  border: none;
  border-radius: 2.6em;
  background: #000000;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: center;
}

.irma-web-button {
  border: 3px solid #00a2d5 !important;
  border-radius: 31pt !important;
  background: white !important;
  cursor: pointer !important;
  color: #00a2d5;
  font-weight: bold !important;
  font-size: 1.15em !important;
  line-height: 1.6em !important;
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
  padding-left: 1.3em;
  padding-right: 1.3em;
  text-align: center !important;
}

@media only screen and (max-width: 500px) {
  .irma-web-button {
    font-weight: bold !important;
    font-size: 1em !important;
    line-height: 1.3em !important;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
    padding-left: 1.2em;
    padding-right: 1.2em;
  }
}

.irma-web-centered p {
  display: none;
}

.crypt-btn-secondary {
  border: 0.25em solid #00a2d5;
  border-radius: 2.6em;
  background: white;
  cursor: pointer !important;
  color: #00a2d5;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-top: 1em;
}

.crypt-btn-cancel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  margin-bottom: 1em;
  color: #00a2d5;
}

.crypt-btn:disabled,
.crypt-btn[disabled],
.crypt-btn-disabled {
  background: #e8e8e8;
  color: #424242;
  cursor: not-allowed;
}

.crypt-btn-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.crypt-btn-anonymous {
  width: 15em;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media only screen and (max-width: 500px) {
  .add-files-icon {
    height: 1.6em;
    top: 0.16em;
  }

  .crypt-btn-main {
    width: 14em;
  }

  .crypt-btn-cancel {
    width: 14 !important;
  }
}

@media only screen and (max-width: 400px) {
  .crypt-btn-main {
    width: 13em;
  }

  .crypt-btn-cancel {
    width: 13em !important;
  }
}

a {
  color: #4ea6ea;
}

.crypt-progress-container {
  padding-top: 2.5em;
  font-size: 1.15em;
}

@media only screen and (max-width: 500px) {
  .crypt-progress-container {
    padding-top: 0pt;
  }
}

.crypt-progress-error {
  color: #ff0033;
}

.checkmark-icon {
  display: inline-block;
  height: 0.85em;
  width: 1em;
  padding-right: 0.58em;
  padding-bottom: 0.16em;
  vertical-align: bottom;
}

.crypt-progress-container h3 {
  font-style: normal;
  font-weight: bold;
  line-height: 1.25em;
}
