.crypt-file-information {
  padding-top: 1em;
  padding-bottom: 0.8em;
  font-size: 1.1em;
}

.file-icon {
  display: inline-block;
  height: 1em;
  width: 0.75em;
  padding-left: 0.58em;
  padding-bottom: 0.25em;
  vertical-align: text-bottom;
}

.file-name {
  display: inline-block;
  height: 1.2em;
  width: calc(100% - 2em - 8em);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 1.6em;
}

.file-size {
  display: inline-block;
  height: 1em;
  padding-right: 0.57em;
}

.file-float-right {
  float: right;
}

.encrypt-panel .crypt-file-list {
  padding-right: 0.5em;
  max-height: 20em;
  overflow-y: auto
}

.decrypt-panel .crypt-file-list {
  height: 4.1em;
  overflow-y: auto
}

@media only screen and (max-width: 500px) {
  .encrypt-panel .crypt-file-list {
    height: 9.5em;
  }
}


.crypt-file-list-add-file-box > .file-drop > .file-drop-target {
  /* require px border radius here due to the custom outline*/
  position: relative;
}

.crypt-file-list-file-frop > .file-drop-target.file-drop-dragging-over-target {
  background-color: var(--cryptify-bg-highlight-color);
}

.crypt-file-list-add-file-box {
  height: 2.6em;
}

.crypt-file-list-add-file-box .crypt-file-list-file-drop {
  margin-top: 1.3em;
  height: 100%;
}

.crypt-file-list-add-file-box .file-drop-target {
  height: 100%;
}

.crypt-file-list-add-box-content,
.crypt-file-list-add-box-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  top: -2.6em;
  left: 0em;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.add-files-icon {
  height: 2em;
  top: 0.42em;
  position: relative;
}

.add-files-text {
  color: #424242;
  font-size: 1.16em;
  padding-left: 0.35em;
}

@media only screen and (max-width: 500px) {
  .add-files-text {
    font-size: 0.91em;
  }
}

.crypt-file-list-add-input-label {
  cursor: pointer;
}

#crypt-file-list-add-files-input {
  height: 100%;
  width: 100%;
  border: none;
  overflow: hidden;
  opacity:0;
  z-index: -9999;
}
